{% extends 'base.html.twig' %}

{% block title %}DetalleCompra{% endblock %}

{% block body %}
    <h1>DetalleCompra</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detalle_compra.id }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ detalle_compra.cantidad }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ detalle_compra.descripcion }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ detalle_compra.total }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_detalle_compra_index') }}">back to list</a>

    <a href="{{ path('app_detalle_compra_edit', {'id': detalle_compra.id}) }}">edit</a>

    {{ include('detalle_compra/_delete_form.html.twig') }}
{% endblock %}
